<div class='chat-room-container'>
  <div class='header'>
    <div class='info'>
      <div class='circle'></div>
      <div class='user-data'>
        <span *ngIf="currentChat.name" class='name'>{{currentChat.name}}</span>
				<span *ngIf="currentChat.nick" class='name'>{{currentChat.nick}}</span>
        <span *ngIf="currentChat.age">{{currentChat.age}}, {{currentChat.city}}</span>
      </div>
    </div>
  </div>
  <div class='chat-view'>
    <app-chat-view [currentChat]="currentChat"></app-chat-view>
  </div>
  <div class='message-toolbar'>
    <app-message-toolbar [currentChat]="currentChat"></app-message-toolbar>
  </div>
</div>
