.sidebar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 239px;
  border-right: 1px solid #ECECEC;
}

.sidebar-container > .users-groups {
  display: flex;
  justify-content: space-between;
  padding: 18px 40px;
  color: #4A90E2;
  font-size: 14px;
  border-bottom: 1px solid #ECECEC;
  margin-bottom: 15px;
}
