<button (click)=login()> LOGIN </button>
<button (click)=sendMessage()> Mandar mensaje público</button>
<button (click)=sendGroupMessage()> Mandar mensaje al primer grupo</button>
<button (click)=createGroup()> Crear grupo nuevo</button>
<button (click)=joinGroup()> Unirse al primer grupo</button>

<input type="file" (change)="sendFile($event.target.files)">

<div *ngIf=grupoActual>El grupo creado es el de id {{grupoActual.id}} llamado {{grupoActual.name}}</div>

<div *ngIf=miUser>
	{{miUser.nick}}
</div>
<div class="row">
	<div class="column">
		<div *ngFor='let msg of mensajes'>
			<li *ngIf="msg.type=='text'"> {{msg.content}}</li>
			<audio controls *ngIf="msg.type=='audio'">
				<source [src]="msg.content | safeHtml">
			</audio>
			<img *ngIf="msg.type=='image'" [src]="msg.content | safeHtml" height="128" width="128">
		</div>
	</div>
	<div class="column">
		<li *ngFor='let group of grupos'> {{group.name}}</li>
	</div>
	<div class="column">
		<li *ngFor='let user of users'> {{user.nick}}</li>
	</div>
</div>
