<div id="myModal" class="modal">
    <div class="modal-content">
        <div>
            Nick:
            <input [(ngModel)]="nick" placeholder="" type="text" (keyup.enter)="login()">
        </div>
        <div>
            Edad:
            <input [(ngModel)]="age" placeholder="" type="number" (keyup.enter)="login()">
        </div>
        <div>
            Ciudad:
            <input [(ngModel)]="city" placeholder="" type="text" (keyup.enter)="login()">
        </div>
        <div>
            <button (click)="login()">Login</button>
        </div>
    </div>
</div>
